server:
  port: 8080
  error:
    whitelabel:
      enabled: false
    path: /error

spring:
  application:
    name: lifegame-backend
  jackson:
    default-property-inclusion: non_null
  web:
    resources:
      static-locations:
        - classpath:/static/
        - classpath:/public/
      add-mappings: true
  mvc:
    throw-exception-if-no-handler-found: true

session:
  persistence:
    file: ${SESSION_PERSISTENCE_FILE:/app/data/sessions.json}
    interval: ${SESSION_PERSISTENCE_INTERVAL:10}

management:
  endpoints:
    web:
      exposure:
        include: health,info
